<body>
    <div class="Antenna">
      <h1>Part Type Management</h1>
  
      <div class="searchDiv">
        <a routerLink="/createparttype"> <img src="assets/images/plus.svg" title="Click here to add a new Part Type"/> </a>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for a Part Type"
          aria-label="Search"
          (keyup)="SearchLogs($event)"
        />
        <!-- <button
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
        >
          Search
        </button> -->
      </div>
  
      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Part Type</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let PartType of PartTypeArray">
            <td>{{ PartType.PartType1 }}</td>
            <td>
              <img
                (click)="EditPartType(PartType.PartTypeID)"
                src="assets/images/edit.svg"
                title="Click here to see this Part Type's details"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>