<body>
    <div class="faultList">
        <h1>Job 3 - Maintenance List</h1>

        <div class="searchDiv">

            <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#Success" (click)="UpdateMaintenanceJobStatus(ID)" [disabled]="complete === false"
            title="Click here to complete this job"
            >
                Complete Job
            </button>
        </div>
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">Maintenance Type</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of MaintenanceList">
                    <td>{{list.MaintenanceType}}</td>
                    <td>{{list.MaintenanceListStatus}}</td>

                    <!-- <td><img src="assets/images/checkbox.png" style="width:20px" /></td> -->
                    <td><input type="checkbox" id="Check{{ list.MaintenanceListID }}" (click)="UpdateStatus(list.MaintenanceListID, list)"
                        title="Click here if the task is complete"></td>
                </tr>

            </tbody>
        </table>
    </div>
</body>

<div class="modal fade" id="Success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The Job was completed successfully.
            </div>
            <div class="modal-footer buttonDiv">
                <button type="button" class="btn btn-secondary OkBtn" data-dismiss="modal" (click)= "goBack()">Ok</button>
            </div>
        </div>
    </div>
</div>