<!-- <head>
  <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
</head> -->

<!-- <form #ReportForm="ngForm"> -->
  <body>
    <div class="bicyclePart">
      <h1>Mechanic Schedule Report</h1>

      <br />
      <br />

      <div>
        <button
          (click)="exportexcel()"
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          [disabled]="startDate.invalid || endDate.invalid || mechanic.invalid"
          data-toggle="modal"
          data-target="#download"
        >
          Download in Excel
        </button>

        <button
          (click)="downloadPDF()"
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          [disabled]="startDate.invalid || endDate.invalid || mechanic.invalid"
          data-toggle="modal"
          data-target="#download"
        >
          Download in PDF
        </button>

        <button
          (click)="GenerateReport()"
          id="generaterTing"
          class="btn btn-outline-success my-2 my-sm-0 searchBtn"
          type="submit"
          [disabled]="startDate.invalid || endDate.invalid || mechanic.invalid"
        >
          Generate Report
        </button>

        <br />
        <br />

        <label for="Start Date">Start Date: </label>
        <input
          required
          class="Datey"
          type="date"
          id="startdate"
          #startDate="ngModel"
          name="startDate"
          [(ngModel)]="start"
        />

        &nbsp; &nbsp;
        <label for="End Date">End Date: </label>
        <input
          required
          class="Datey"
          type="date"
          id="enddate"
          #endDate="ngModel"
          name="endDate"
          [(ngModel)]="end"
        />

        <br />
        <br />

        <span
          class="alert alert-primary"
          *ngIf="startDate.invalid && startDate.touched"
        >
          Please enter a start date
        </span>

        <span
          class="alert alert-primary"
          *ngIf="endDate.invalid && endDate.touched"
        >
          Please enter a end date
        </span>

        <br />
        <br />

        <h6 style="font-size: medium">Choose Mechanic:</h6>
        <select
          required
          id="Joby"
          [(ngModel)]="selectedUser"
          #mechanic="ngModel"
        >
          <option *ngFor="let user of Users" [value]="user.UserID">
            {{ user.Firstname + " " + user.Surname }}
          </option>
        </select>
        <br />
        <!-- <span
          class="alert alert-primary"
          *ngIf="endDate.invalid && endDate.touched"
        >
          Please enter a end date
        </span> -->

        <!-- Bootstrap Class to show an Error, Try using your own style with Sass-->
        <div class="alert alert-danger" role="alert" *ngIf="showErrorMessage">
          Come on, there is No option selected there!
        </div>
        <br />
      </div>

      <br />
      <div id="htmlData" #htmlData>
        <table class="table" id="table">
          <thead class="thead">
            <tr>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="ControlBreakHead"> Start Date : {{ start }}</td>
              <td id="ControlBreakHead"> End Date : {{ end }}</td>
            </tr>
            <tr>
              <th scope="col">Job Code</th>
              <th scope="col">Bicycle Code</th>
              <th scope="col">Student Name</th>
              <th scope="col">Job Type</th>
              <th scope="col">Student Contact</th>
              <th scope="col">Guardian Contact</th>
              <th scope="col">Date Scheduled</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let job of TableData">
              <td id="someshade" scope="row">{{ job.JobCode }}</td>
              <td>{{ job.BicycleCode }}</td>
              <td>{{ job.StudentName }}</td>
              <td>{{ job.JobType }}</td>
              <td>{{ job.StudentContact }}</td>
              <td>{{ job.GuardianContact }}</td>
              <td>{{ job.DateScheduled }}</td>
            </tr>
            <tr>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="blankem"> </td>
              <td id="ControlBreakFoot">  Total Jobs : {{ totalJobs }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br />
      <br />
    </div>
  </body>
<!-- </form> -->

<div
  class="modal fade"
  id="download"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Mechanic Schedule Report has been downloaded successfully.
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>