<body>
    <div class="Antenna">
      <h1>Student Mark Management</h1>

      <div class="searchDiv">
    
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for a Student's Marks"
          aria-label="Search"
          (keyup)="SearchStudents($event)"
          
        />
      </div>

      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Last Mark</th>
            <th scope="col">Mark Type</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let mark of MarkVM">
            <td > {{mark.StudentName + ' ' + mark.StudentSurname}}</td>
            <td>{{mark.Mark}}</td>
            <td>{{mark.MarkType1}}</td>
            <td>{{ mark.Date }}</td>
            <td><button class="assignbutton" (click)="CaptureMark(mark.StudentID)" title="Click here to capture the student mark"> Capture Mark </button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>