<body>
  <div class="login-box">
    <h1>Forgot Password</h1>
    <p>Please enter your email</p>

    <div class="login-text">
      <h6>Email:</h6>
      <input required type="text" #email="ngModel" [(ngModel)]="Email" />

      <br />
      <span class="alert alert-primary" *ngIf="email.invalid && email.touched">
        Please enter a email
      </span>
      <br />
      <br />

      <button
        class="SubmitBtn"
        [disabled]="!email.valid"
        (click)="checkEmail(Email)"
        title="Remember to make sure you inputted the correct email"
      >
        Submit
      </button>
      <!-- data-toggle="modal"
        data-target="#success" -->
      <br />

      <button (click)="return()" class="SubmitBtn">Return</button>
    </div>
  </div>
</body>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Forgot Password Email sent</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
