<body>
  <div class="bicycle-box">
    <h1>Bicycle Section</h1>

    <div id="UploadArea">
      <img [src]="transformer()" style="width: 25%; height: 25%" />
      <br />
      <label> Choose a Bicycle Section Image to update </label>
      <br />
      <input
        type="file"
        #Image
        accept="image/*"
        (change)="onFileChange($event)"
      />
      <br />

      <!-- ** FEEDBACK MESSAGING AREA ** -->
      <div *ngIf="messages.length > 0">
        <span *ngFor="let msg of messages"> {{ msg }} <br /> </span>
      </div>
      <!-- ** END OF FEEDBACK MESSAGING AREA ** -->
    </div>

    <div class="bicycle-text">
      <form [formGroup]="SectionForm" (ngSubmit)="onFormSubmit(SectionForm)">
        <div id="ObjArea">
          <br />
          <h6>Section Name:</h6>
          <input
            required
            type="text"
            #SectionName
            formControlName="SectionName"
          />

          <h6>Section Description:</h6>
          <input
            type="text"
            required
            #SectionDescription
            formControlName="SectionDescription"
          />
        </div>

        <br />
        <span class="alert alert-primary" *ngIf="SectionForm.invalid">
          Please ensure all fields are filled(remember a picture!)
        </span>
        <br />
        <br />

        <!-- <button id="UploadBtn" (click)="uploadFile()"> Upload Image </button> -->
        <!-- <button id="CreateObj" type="submit" [disabled]="!SectionForm.valid">Update</button> -->
        <button
          id="CreateObj"
          [disabled]="!SectionForm.valid"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#updsucc"
          type="submit"
        >
          Update
        </button>
        <!-- <button type="submit" data-toggle="modal" data-target="#update">Update</button> -->
        <!-- <button type="submit" data-toggle="modal" data-target="#delete">Delete</button> -->
        <button data-toggle="modal" data-dismiss="modal" data-target="#delete">
          Delete
        </button>
      </form>
    </div>
  </div>
</body>

<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delete"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Bicycle Section?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#updsucc"
          (click)="DeleteSection(ID)"
        >
          Yes
        </button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!--SUCCESSES-->
<div
  class="modal fade"
  id="updsucc"
  tabindex="-1"
  role="dialog"
  aria-labelledby="updsucc"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updsucc">Success</h5>
      </div>
      <div class="modal-body">
        Bicycle Section has been updated successfully.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          (click)="GoToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- deltsucc -->
<div
  class="modal fade"
  id="delsucc"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delsucc"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delsucc">Success</h5>
      </div>
      <div class="modal-body">
        Bicycle Section has been deleted successfully.
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          (click)="GoToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
