<body>
  <div class="blueprint-box">
    <h2>
      Please select the Part <br />
      where your fault appears
    </h2>

    <br />

    <div>
      <table class="table">
        <thead class="thead">
          <tr>
            <!-- <th scope="col">ID</th> -->
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let part of TableData">
            <!-- <td>{{part.PartID}}</td> -->
            <td><img [src]="transformer(part.PartImage)" (click)="checkID(part)"></td>
            <td>{{ part.PartName }}</td>
            <td>
              <img src="assets/images/plus.svg" (click)="checkID(part)" />
            </td>
            <!-- (click)="ViewUserType(user.ID)" -->
          </tr>
        </tbody>
      </table>

      <button type="button" data-toggle="modal" data-target="#unknown" title="Click here if you're unsure of the section">Unknown</button>
    </div>
  </div>

  <br />
</body>
<div class="modal fade" id="unknown" tabindex="-1" role="dialog" aria-labelledby="unknown" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unknown">Unknown</h5>
        <button type="button" class="close" id="disappearpliz" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="unknownDetails" (ngSubmit)="reportUnknown(unknownDetails)">

        <div class="modal-body">
          <h3>Please enter any additional information.</h3>
          <textarea id="notes" rows="5" cols="50" #notes formControlName="notes" ></textarea>
        </div>

        <div class="modal-footer">
          <button type="submit" class="thebutton">Submit</button>
        </div>
      
      </form>

    </div>
  </div>
</div>