body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  min-height: 100%;
  height: auto;
  padding: 150px 0 150px 0;
}

h6 {
  font-size: medium;
}

.login-box {
  height: auto;
  width: 50%;
  margin: 0 0 0 25%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 60px 0 60px 0;
  box-shadow: 2px 2px 10px rgba(207, 209, 211, 0.1);
  position: relative;
}

.login-text {
  text-align: left;
  margin-left: 200px;
}

.login-text input {
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
  border-radius: 0;
  width: 400px;
  margin-bottom: 20px;
}

button {
  color: white;
  display: block;
  width: 400px;
  height: 50px;
  background-image: linear-gradient(130deg, #001844, #cd1543);
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
}

button:hover {
  transform: scale(1.02);
  transition: all ease 300ms;
}

.alert {
  width: 400px;
  height: 80px;
}

.username {
  height: 50px;
}

.forgotPass {
  margin-top: 10px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
