<body>
  <div class="bicyclePart">
    <h1>User</h1>

    <div class="searchDiv">
      <a><img src="assets/images/plus.svg" (click)="CreateUser()" title="Click here to create a new User"/></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a User"
        aria-label="Search"
        (keyup)="SearchUsers($event)"
      />
    </div>

    <table class="table" id="mytable">
      <thead class="thead">
        <tr>
          <th scope="col">Username</th>
          <th scope="col">User Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of UserList">
          <td>{{ user.Username }}</td>
          <td>{{ user.UserType }}</td>
          <td>
            <img
              (click)="ViewUser(user.UserID, user.UserTypeID)"
              src="assets/images/edit.svg"
              title="Click here to view this User's Details"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <div id="nav">hello</div> -->
  </div>
</body>
<script>
  // $(document).ready(function () {
  //   $("#data").after('<div id="nav"></div>');
  //   var rowsShown = 4;
  //   var rowsTotal = $("#data tbody tr").length;
  //   var numPages = rowsTotal / rowsShown;
  //   for (i = 0; i < numPages; i++) {
  //     var pageNum = i + 1;
  //     $("#nav").append('<a href="#" rel="' + i + '">' + pageNum + "</a> ");
  //   }
  //   $("#data tbody tr").hide();
  //   $("#data tbody tr").slice(0, rowsShown).show();
  //   $("#nav a:first").addClass("active");
  //   $("#nav a").bind("click", function () {
  //     $("#nav a").removeClass("active");
  //     $(this).addClass("active");
  //     var currPage = $(this).attr("rel");
  //     var startItem = currPage * rowsShown;
  //     var endItem = startItem + rowsShown;
  //     $("#data tbody tr")
  //       .css("opacity", "0.0")
  //       .hide()
  //       .slice(startItem, endItem)
  //       .css("display", "table-row")
  //       .animate({ opacity: 1 }, 300);
  //   });
  // });
</script>
