<body>
  <div class="bicyclePart">
    <h1>Bicycle Section Management</h1>

    <div class="searchDiv">
      <a routerLink="/createbicyclesection">
        <img src="assets/images/plus.svg"  title="Click here to create a new bicycle section"/>
      </a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a Bicycle Section"
        aria-label="Search"
        (keyup)="SearchUsers($event)"
      />
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Section Name</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Section of SectionArray">
          <td>{{ Section.SectionName }}</td>
          <td>{{ Section.SectionDescription }}</td>
          <td>
            <img
              (click)="EditSection(Section.SectionID)"
              src="assets/images/edit.svg"
              title="Click here to view this bicycle section's details"
            />
          </td>
        </tr>
        <!-- <tr>
            <td scope="row">Body</td>
  
            <td>This keeps everything together</td>
            <td><img src="assets/images/edit.svg" /></td>
          </tr>
          <tr>
            <td scope="row">Rear Wheel</td>
  
            <td>This pushes you forward</td>
            <td><img src="assets/images/edit.svg" /></td>
          </tr>
          <tr>
            <td scope="row">Front Wheel</td>
  
            <td>This is for direction</td>
            <td><img src="assets/images/edit.svg" /></td>
          </tr>
  
          <tr>
            <td scope="row">Handle Bar</td>
  
            <td>For Kontrol</td>
            <td><img src="assets/images/edit.svg" /></td>
          </tr>
          <tr>
            <td scope="row">Chain Area</td>
  
            <td>The equivalent of a motor</td>
            <td><img src="assets/images/edit.svg" /></td>
          </tr> -->
      </tbody>
      <!-- 
          <br /> -->
      <!--Error Message NOT WORKING-->
      <!-- 
          <div class="alert alert-warning username" style="display: block; margin: auto; width: 400px;">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            Bicycle Section not found.
          </div> -->
    </table>
  </div>
</body>
