body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  min-height: 100%;
  height: auto;
}

/* .float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: right;
    padding: 20px;
    border: 2px solid red;
}  */

thead {
  background-color: #001844;
  color: white;
  text-align: center;
}

table td {
  text-align: center;
  background-color: rgba(134, 158, 195, 0.2);
  border-color: rgba(0, 24, 68, 0.2);
}

.bicycle-box {
  height: 1500px;
  width: 800px;

  padding: 20px;
  margin: 80px 0 0 300px;
  margin-bottom: 250px;
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 2px 2px 10px rgba(207, 209, 211, 0.1);
}
.btncancel {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #cd1543;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}
.bicycle-box img {
  height: 50px;
}

.bicycle-text {
  text-align: left;
  margin-left: 200px;
}

.bicycle-text input {
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
  border-radius: 0;
  width: 400px;
  margin-bottom: 20px;
}

.thebutton {
  color: white;
  display: inline;
  width: 180px;
  height: 50px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

button:hover {
  transform: scale(1.02);
  transition: all ease 300ms;
}

select {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
}
