<body>
  <br />
  <div class="faulttask">
    <h1>Fault Task</h1>

    <div class="searchDiv">
      <a
        ><img src="assets/images/plus.svg" (click)="CreateMaintenanceTask()"
        title="Click here to add a new fault task"
      /></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a fault task"
        aria-label="Search"
        (keyup)="SearchUsers($event)"
      />
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Part</th>
          <th scope="col">Fault Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maintenancetask of MaintenanceTaskList">
          <td>{{ maintenancetask.PartName }}</td>
          <td>{{ maintenancetask.FaultType1 }}</td>
          <td>
            <img
              (click)="ViewMaintenanceTask(maintenancetask.PartFaultID)"
              src="assets/images/edit.svg"
              title="Click here to view this fault task's details"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
