<body>
  <form [formGroup]="SchoolForm" (ngSubmit)="onFormSubmit(SchoolForm)">
    <div class="bicycle-box">
      <h1>School</h1>

      <div class="bicycle-text">
        <!-- <input type="text" class = "form-control" placeholder="SchoolID" formControlName = "SchoolID"/> -->
        <h6>School Name:</h6>
        <input
          required
          type="text"
          placeholder="SchoolName"
          formControlName="SchoolName"
        />

        <h6>School Email:</h6>
        <input
          required
          type="text"
          placeholder="SchoolEmail"
          formControlName="SchoolEmail"
        />

        <h6>School Telephone:</h6>
        <input
          required
          minlength="10"
          type="text"
          placeholder="SchoolTelephone"
          formControlName="SchoolTelephone"
        />

        <h6>Village:</h6>
        <!-- <select name="VillageID"  [(ngModel)] = "schoolService.SchoolForm.VillageID" > -->
        <select
          required
          class="form-control"
          placeholder="Village"
          formControlName="VillageID"
        >
          <option
            *ngFor="let village of LocationList['Villages']"
            [value]="village.VillageID"
          >
            {{ village["VillageName"] }}
          </option>
        </select>

        <br />
        <span class="alert alert-primary" *ngIf="SchoolForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />

        <br />

        <button type="submit" data-toggle="modal" data-target="#successup">
          Update
        </button>
        <button type="button" data-toggle="modal" data-target="#DeleteModal">
          Delete
        </button>
      </div>
    </div>
  </form>
</body>

<!--Delete Modal -->
<div
  class="modal fade"
  id="DeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">Are you sure you want to Delete this School?</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          (click)="DeleteSchool(SchoolID)"
          data-toggle="modal"
          data-target="#successdel"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary btncancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal Update -->
<div
  class="modal fade"
  id="successup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">School was successfully Updated</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="GoBack()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal Delete -->
<div
  class="modal fade"
  id="successdel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">School was successfully Deleted</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="GoBack()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
