header img {
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: cover;
}

body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  height: auto;
}

/*

Content 1

*/

.mission {
  margin: 60px 20px 50px 50px;
}

.mission h1 {
  color: #5573ac;
}

.mission h2 {
  font-weight: bold;
  font-size: 25px;
}

.underline {
  height: 3px;
  width: 200px;
  background-color: #cd1543;
  margin: 0 0 20px 0;
}

.mission-text {
  margin: 0 20px 0 0;
  padding: 50px 50px 50px 50px;
  background-color: white;
  font-size: 18px;
}

.image img {
  height: 450px;
}

/*

Content 2

*/

.card-deck {
  margin: 0 150px 60px 150px;
}

.card-img-top {
  height: 350px;
  object-fit: cover;
}

.card {
  border: none;
  border-radius: 0;
}

.social-media-icon img {
  height: 40px;
  margin-right: 20px;
  transition: all ease 300ms;
}

.social-media-icon img:hover {
  transform: scale(1.2);
  transition: all ease 300ms;
  cursor: pointer;
}

.card-title {
  font-weight: bold;
  font-size: 25px;
}

.card-text {
  font-size: 17px;
}
