<link rel="stylesheet" routerLink="/https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--Logo and Heading -->

  <img src="assets/images/3.PNG" width="60" height="50" class="d-inline-block align-top" alt="" loading="lazy" />

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/homepage">
          <p class="tabs" title="Click me to go home">Home</p>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <div ngbDropdown class="d-inline-block" *ngIf="UserRole == null" >
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle
        aria-haspopup="true" aria-expanded="false" title="If you're a student click on me!">
        Student
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" title="Click me to get started on reporting a fault">
        <a ngbDropdownItem routerLink="/qrscan">Report Fault</a>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block" *ngIf="UserRole == 'Mechanic'">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle
        aria-haspopup="true" aria-expanded="false">
        Mechanic
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <a ngbDropdownItem routerLink="/qrscan" >Check-in Bicycle</a>
        <a ngbDropdownItem routerLink="/mechaniccalendar" title="Click here to see your jobs, remember, you can only see your own jobs ;)">View Calendar</a>
      </div>
    </div>

    <!-- School Administrator Dropdown -->
    <div ngbDropdown class="d-inline-block" *ngIf="UserRole == 'School Administrator'">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" ngbDropdownToggle
        aria-haspopup="true" aria-expanded="false">
        School Administrator
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <a ngbDropdownItem routerLink="/assignbicycle" title="Used to load the assign bicycles screen">Assign Bicycles</a>
        <a ngbDropdownItem routerLink="/assigntag" title="Used to load the assign Tags screen">Assign Tag</a>
        <a ngbDropdownItem routerLink="/studentmarks" title="Used to load the assign Tags screen">Capture Marks</a>
        <a ngbDropdownItem routerLink="/document" title="Used to load the Download Documents screen">Download Documents</a>
        <a ngbDropdownItem routerLink="/bicycle" title="Used to load the Manage Bicycles screen">Manage Bicycles</a>
        <a ngbDropdownItem routerLink="/marktype" title="Used to load the Manage Mark Types screen">Manage Mark Types</a>
        <a ngbDropdownItem routerLink="/student" title="Used to load the Manage Students screen">Manage Students</a>

      </div>
    </div>

    <!-- Administrator Dropdown -->
    <div ngbDropdown class="d-inline-block" *ngIf="UserRole == 'Administrator'">
      <button class="btn btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>
        Administrator
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <a ngbDropdownItem routerLink="/antenna" title="Used to load the Antennas screen">Antennas</a>
        <a ngbDropdownItem routerLink="/bicyclebrand" title="Used to load the Bicycle Brands screen">Bicycle Brands</a>
        <a ngbDropdownItem routerLink="/bicyclepart" title="Used to load the Bicycle Parts screen">Bicycle Parts</a>
        <a ngbDropdownItem routerLink="/bicyclesection" title="Used to load the Bicycle Setions screen">Bicycle Sections</a>
        <a ngbDropdownItem routerLink="/businessrule" title="Used to load the Business Rules screen">Business Rules</a>
      
        <a ngbDropdownItem routerLink="/faulttype" title="Used to load the Fault Types screen">Fault Types</a>
        <a ngbDropdownItem routerLink="/maintenancetask" title="Used to load the Maintence Tasks screen">Maintenance Tasks</a>
        <a ngbDropdownItem routerLink="/document"title="Used to load the Manage Documents screen">Manage Documents</a>
        <a ngbDropdownItem routerLink="/parttype" title="Used to load the Part Types screen">Part Types</a>
        <a ngbDropdownItem routerLink="/route" title="Used to load the Routes screen">Routes</a>
        <a ngbDropdownItem routerLink="/school" title="Used to load the Schools screen">Schools</a>
        <a ngbDropdownItem routerLink="/tag" title="Used to load the Tags screen">Tags</a>
        <a ngbDropdownItem routerLink="/logentry" title="Used to load the View Log screen">View Log</a>
        <a ngbDropdownItem routerLink="/user" title="Used to load the Users screen">Users</a>
        <a ngbDropdownItem routerLink="/usertype" title="Used to load the User Types screen">User Types</a>
      </div>
    </div>
    <!-- end -->

    <!-- System Dropdown -->
    <div ngbDropdown class="d-inline-block" *ngIf="UserRole == 'Administrator'">
      <button class="btn btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>
        Reports
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" title="Select from the list below the type of report you want to view">
        <a ngbDropdownItem routerLink="/bicyclehistoryreport" >Bicycle History</a>
        <a ngbDropdownItem routerLink="/logreport">Log</a>
        <a ngbDropdownItem routerLink="/mechanicschedulereport">Mechanic Schedule</a>
        <a ngbDropdownItem routerLink="/mechanicschedulerequirementsreport">Mechanic Schedule Requirements</a>
        <a ngbDropdownItem routerLink="/partsusedreport">Parts Used</a>
        <a ngbDropdownItem routerLink="/studentreport">Student</a>
      </div>
    </div>
    <!-- end -->

    <!-- System Dropdown -->
    <div ngbDropdown class="d-inline-block" *ngIf="UserRole == 'Administrator'">
      <button class="btn btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>
        System
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
        <a ngbDropdownItem routerLink="/audittrail" title="Used to load the Audit Trail screen">Audit Trail Management</a>
       
      </div>
    </div>

    <!-- testing -->
 
    <!-- end -->
  </div>

  <!--HELP-->
  <!-- <img src="assets/images/help.svg" (click)="getHelp()" width="30" height="30" class="d-inline-block align-top help" alt=""
    loading="lazy" /> -->

    <img src="assets/images/help.svg" (click)="getHelp()" type="button" width="30" height="30" title="Click on me if you need help"/>

  <a *ngIf="UserRole == null" class="nav-link" routerLink="/login">
    <p class="tabs">Log In</p>
  </a>
  <a *ngIf="
      UserRole == 'Mechanic' ||
      UserRole == 'School Administrator' ||
      UserRole == 'Administrator'
    " class="nav-link" (click)="LogOut()">
    <p class="tabs">Log Out</p>
  </a>

  <img *ngIf="
      UserRole == 'Mechanic' ||
      UserRole == 'School Administrator' ||
      UserRole == 'Administrator'
    " src="assets/images/user2.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" />
</nav>

<router-outlet></router-outlet>
<app-loading></app-loading>

<!-- Footer -->
<footer class="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-2 col-lg-2"></div>

    <!-- Information -->
    <div class="col-2">
      <!-- <h6
        class="text-sm-center text-md-left text-lg-left text-responsive"
        style="color: white"
      >
        Information
      </h6> -->

      <a>
        <p class="footer-text text-lg-left text-responsive">Contact VVS Team</p>
      </a>
      <a>
        <p class="footer-text text-lg-left text-responsive" (click)= "GoToHelp()">General Help</p>
      </a>
      <a href="static">
        <p class="footer-text text-lg-left text-responsive">About</p>

      </a>
    </div>

    <div class="col-3">
      <!-- <a>
        <p class="footer-text text-lg-left text-responsive">FAQs</p>
      </a> -->
    </div>
    <!-- End of Information-->

    <!-- Logos -->
    <div class="col-lg-4">
      <div class="logos">
        <img src="assets/images/logos/epiuse.PNG" />

        <!-- <div class="col-lg-4">
          <img src="assets/images/3.PNG" />
        </div> -->
      </div>
      <!--<div class="vvs-logo">
        <img src="assets/images/logos/vvs.png">
      </div>-->
    </div>
    <!-- End of Logos-->
  </div>
  <!-- End of Row -->

  <p class="copyright">© Bike4ERP. All rights reserved.</p>
</footer>

<div class="modal fade" id="TokenModal" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create"> Access Token has expired </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Would you like to stay logged in?
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton" (click)="RefreshToken()" data-dismiss="modal">
          Keep Me Logged In
        </button>
        <button type="button" class="btncancel" (click)="LogOut()" data-dismiss="modal">Log Me Out</button>
      </div>
    </div>
  </div>
</div>