.login {
  margin-right: 10px;
}

body{
width: 80%;

}

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-image: linear-gradient(to right, #001844, #cd1543);
  color: white;
}

.tabs {
  color: white;
  margin: 5.1px;
  font-weight: 500;
  font-size: medium;
}

/* 

Footer

*/
.nav-item {
  padding-right: 10px;
  padding-left: 10px;
}

footer {
  /* position: relative; */

  width: 100%;

  height: 130px;
  background-color: #001844;
  /* padding: 20px 0 10px 0; */

  bottom: 0px;
}

.footer-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  margin: auto;
  padding-top: 5%;
  font-weight: 200;
}

footer h1 {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin: 0 0 10px 0;
}

.underline {
  height: 3px;
  width: 305px;
  background-color: #cd1543;
  margin-bottom: 20px;
}

.footer-text:hover {
  color: white;
  cursor: pointer;
}

.logos {
  height: 10%;
  width: 10%;
  float: left;
  margin-top: 13px;
  padding-left: 70%;
  /* margin: 0 20px 50px 0; */
}

.copyright {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  text-align: center;

  /* margin: 40px 0 20px 0; */
}

select {
  border: none;
  margin: 13px 10px 0 0;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

option {
  color: black;
}

.dropdown-toggle {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.dropdown-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}
