<body>
  <form [formGroup]="StudentForm">
    <div class="bicycle-box">
      <h1>Student</h1>

      <div class="bicycle-text">
        <h6>Name:</h6>
        <input
          type="text"
          placeholder="StudentName"
          formControlName="StudentName"
          required
          class="form-control"
        />

        <h6>Surname:</h6>
        <input
          type="text"
          placeholder="StudentSurname"
          formControlName="StudentSurname"
          required
          class="form-control"
        />
        <!-- <h6>Bicycle Code:</h6>
        <input type="text" /> -->

        <h6>Phone Number:</h6>
        <input
          type="text"
          placeholder="PhoneNumber"
          formControlName="PhoneNumber"
          required
          class="form-control"
        />

        <h6>Date of Birth:</h6>
        <input
          type="date"
          placeholder="StudentDoB"
          formControlName="StudentDoB"
          required
          class="form-control"
        />

        <h6>Village:</h6>
        <select
          class="form-control"
          placeholder="Village"
          formControlName="VillageID"
          required
          class="form-control"
        >
          <option
            *ngFor="let village of LocationList['Villages']"
            [value]="village.VillageID"
          >
            {{ village["VillageName"] }}
          </option>
        </select>
        <br /><br />
        <h6>School:</h6>
        <select
          class="form-control"
          placeholder="School"
          formControlName="SchoolID"
          required
          class="form-control"
        >
          <option
            *ngFor="let school of LocationList['Schools']"
            [value]="school.SchoolID"
          >
            {{ school["SchoolName"] }}
          </option>
        </select>
        <br />
        <br />
        <br />

        <form [formGroup]="GuardianForm">
          <h4>Guardian Details</h4>
          <br />

          <h6>Guardian Name:</h6>
          <input
            type="text"
            placeholder="GuardianName"
            formControlName="GuardianName"
            required
            class="form-control"
          />
          <h6>Guardian Email:</h6>
          <input
            type="email"
            placeholder="GuardianEmail"
            formControlName="GuardianEmail"
            required
            class="form-control"
          />
          <h6>Guardian Phone Number:</h6>
          <input
            type="text"
            placeholder="GuardianPhone"
            formControlName="GuardianPhone"
            required
            class="form-control"
          />

          <br />
        </form>

        <button
          type="submit"
          data-toggle="modal"
          data-target="#UpdateModal"
          [disabled]="!StudentForm.valid"
        >
          Update
        </button>
        <button type="button" data-toggle="modal" data-target="#DeleteModal">
          Delete
        </button>
      </div>
    </div>
  </form>
</body>

<div>
  <div
    class="modal fade"
    id="UpdateModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="create"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="UpdateModal">Confirmation</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to update the Student?
        </div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-primary create"
            data-toggle="modal"
            data-target="#Success"
            data-dismiss="modal"
            (click)="onFormSubmit()"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-secondary cancel"
            data-dismiss="modal"
            (click)="BackView()"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="StudentUpdatedModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="StudentUpdatedModal"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="StudentUpdatedModal">Successful</h5>
        </div>
        <div class="modal-body">Student has been updated successfully.</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-primary create"
            data-dismiss="modal"
            (click)="RouteStudent()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div
      class="modal fade"
      id="DeleteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="DeleteModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="DeleteModal">Confirmation</h5>
          </div>
          <div class="modal-body">
            Are you sure you want to delete the Student?
          </div>
          <div class="modal-footer buttonDiv">
            <button
              type="button"
              class="btn btn-primary DeleteModal"
              data-toggle="modal"
              data-target="#Success"
              data-dismiss="modal"
              (click)="DeleteStudent(StudentID)"
            >
              Yes
            </button>
            <button
              type="button"
              class="btn btn-secondary cancel"
              data-dismiss="modal"
              (click)="BackView()"
            >
              No
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="StudentDeletedModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="StudentDeletedModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="StudentDeletedModal">Successful</h5>
          </div>
          <div class="modal-body">Student has been deleted successfully.</div>
          <div class="modal-footer buttonDiv">
            <button
              type="button"
              class="btn btn-primary create"
              data-dismiss="modal"
              (click)="RouteStudent()"
            >
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
