<body>

    <div class="blueprint-box">
        
      <h2>Please select the fault that appears</h2>
  
      <br>

      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        
          <tr *ngFor="let PartFault of TableData1">
            <!-- <td><img [src]="transformer(PartFault.FaultImage)" (click)="returnList(PartFault.PartFaultID)"></td> -->
            <td><img [src]="transformer(PartFault.FaultImage)" (click)="returnList(PartFault.PartFaultID)"></td>
            <td>{{PartFault.FaultType}}</td>
            <td><img src="assets/images/plus.svg" (click)="returnList(PartFault.PartFaultID)"/></td>
            <!-- (click)="ViewUserType(user.ID)" -->
          </tr>
  
        </tbody>
      </table>
      
      
      <button type="button" data-toggle="modal" data-target="#unknown">Unknown</button>
    </div>

    <br>

</body>
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">User was successfully created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
 
<div class="modal fade" id="unknown" tabindex="-1" role="dialog" aria-labelledby="unknown" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="unknown">Unknown</h5>
        <button type="button" class="close" data-dismiss="modal" id="disappearpliz" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="unknownDetails" (ngSubmit)="reportUnknown(unknownDetails)">

        <div class="modal-body">
          <h3>Please enter any additional information.</h3>
          <textarea id="notes" rows="5" cols="50" #notes formControlName="notes" ></textarea>
        </div>

        <div class="modal-footer">
          <button type="submit" class="thebutton">Submit</button>
        </div>
      
      </form>

    </div>
  </div>
</div>
<!-- (click)="returnList(PartFault.FaultTypeID)" -->
<!-- <div class="modal fade" id="unknown" tabindex="-1" role="dialog" aria-labelledby="unknown" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="unknown">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Are you sure you want to select a Broken Rim?
        </div>
        <div class="modal-footer buttonDiv">
            <button type="button" class="btn btn-primary create" data-dismiss="modal" data-toggle="modal" data-target="#Success">Yes</button>
            <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div> -->

<!-- 
  <div class="modal fade" id="Success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The Fault was added successfully.
      </div>
      <div class="modal-footer buttonDiv">
        <button type="button" class="btn btn-secondary OkBtn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div> -->
