<br />
<body>
  <div class="bicycle-box">
    <h1>Tag</h1>
    <form #TagForm="ngForm">
      <div class="bicycle-text">
        <h6>Tag Serial Number:</h6>
        <input
          type="text"
          required
          #TagSerialnumber="ngModel"
          name="TagSerialNumber"
          [(ngModel)]="tagService.TagForm.TagSerialNumber"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="TagSerialnumber.invalid && TagSerialnumber.touched"
        >
          Please enter a Tag Serial Number.
        </span>
        <br />
        <br />
        <button
          type="button"
          data-toggle="modal"
          data-target="#Create"
          [disabled]="TagForm.invalid"
          class="thebutton"
        >
          Create
        </button>
        <button class="thebutton" (click)="GoBacktoTag()">Cancel</button>
        <br />
      </div>
      <br />
    </form>
  </div>
</body>

<div
  class="modal fade"
  id="TagExists"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TagExists">{{ modalHeading }}</h5>
      </div>
      <div class="modal-body">
        {{ modalBody }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          (click)="GoBacktoCreateTag()"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Success">{{ modalHeading }}</h5>
      </div>
      <div class="modal-body">
        {{ modalBody }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          (click)="GoBacktoTag()"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="Create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Create">Confirmation</h5>
      </div>
      <div class="modal-body">Are you sure you want to create a new Tag?</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-dismiss="modal"
          (click)="SaveTag()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
          (click)="GoBacktoCreateTag()"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
