<body>
  <div class="bicycle-box">
    <h1>Fault Task</h1>

    <!--<img src="assets/images/723.jpg" />-->
    <form #PartFaultForm="ngForm">
      <!-- (ngSubmit)="onFormSubmit(MaintenanceTaskService.PartFaultForm)" -->

      <div class="bicycle-text">
        <h6>Part Name:</h6>
        <select
          name="PartID"
          required
          #Part="ngModel"
          [(ngModel)]="MaintenanceTaskService.PartFaultForm.PartID"
        >
          <option *ngFor="let Part of Parts" [value]="Part.PartID">
            {{ Part.PartName }}
          </option>
        </select>

        <br />
        <span class="alert alert-primary" *ngIf="Part.invalid && Part.touched">
          Please enter a Part Name
        </span>
        <br />
        <br />

        <h6>Fault Type:</h6>
        <select
          name="PartID"
          required
          #Fault="ngModel"
          [(ngModel)]="MaintenanceTaskService.PartFaultForm.FaultTypeID"
        >
          <option
            *ngFor="let faulttype of FaultType"
            [value]="faulttype.FaultTypeID"
          >
            {{ faulttype.FaultType1 }}
          </option>
        </select>
        <br />
        <br />

        <span
          class="alert alert-primary"
          *ngIf="Fault.invalid && Fault.touched"
        >
          Please select a Fault Type
        </span>
        <br />
        <br />

        <!-- Button trigger modal -->
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          [disabled]="PartFaultForm.invalid"
        >
          Create
        </button>

        <!-- Button trigger modal -->
        <button type="button" (click)="GoBackToList()">Cancel</button>
      </div>
    </form>
  </div>
</body>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to Create this Fault Task?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          (click)="SaveMaintenanceTask()"
          data-toggle="modal"
          data-target="#Success"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Fault Task was successfully Created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
