<body>
  <div class="bicyclePart">
    <h1>Bicycle Part Management</h1>

    <div class="searchDiv">
      <a routerLink="/createbicyclepart">
        <img src="assets/images/plus.svg"  title="Click to create a new bicycle Part"/>
      </a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a Bicycle Part"
        aria-label="Search"
        (keyup)="SearchUsers($event)"
      />
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Part Name</th>
          <th scope="col">Description</th>
          <th scope="col">Section</th>
          <th scope="col">Part Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Part of PartArray">
          <td>{{ Part.PartName }}</td>
          <td>{{ Part.PartDescription }}</td>
          <td>{{ Part.Section }}</td>
          <td>{{ Part.PartType }}</td>
          <!-- <td> {{ Part.PartImage }} </td> -->
          <td>
            <img (click)="EditPart(Part.PartID)" src="assets/images/edit.svg"  title="Click to view this Bicycle Part's details"/>
          </td>
          <!-- <tr>
          <td scope="row">Chain</td>
          <td>Connects wheel to pedal</td>
          <td>Body</td>
          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row"> Front Brakes</td>
          <td>Helps the bike stop</td>
          <td>Front wheel</td>
          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row">Rear Tyre</td>
          <td>Surrounds the bike spoke</td>
          <td>Rear Wheel</td>
          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row">Seat</td>
          <td>Allows the user to sit on their bike</td>
          <td>Body</td>
          <td><img src="assets/images/edit.svg" /></td>
        </tr>

        <tr>
          <td scope="row">Bike Frame</td>
          <td>Keeps the bike together</td>
          <td>Body</td>
          <td><img src="assets/images/edit.svg" /></td>
        </tr>
        <tr>
          <td scope="row">Bell</td>
          <td>Ding Dong</td>
          <td>Body</td>
          <td><img src="assets/images/edit.svg" /></td>
        </tr> -->
        </tr>
      </tbody>
    </table>
  </div>
</body>
