<body>
  <div class="bicycle-box">
    <h1>User</h1>

    <!--<img src="assets/images/723.jpg" />-->

    <div class="bicycle-text">
      <h6>School:</h6>
      <select>
        <option>--Select--</option>
        <option>John School</option>
        <option>Ann's School</option>
      </select>
      <div class="alert alert-primary username" style="display: none;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Please Select a option
      </div>

      <h6>Position:</h6>
      <select>
        <option>--Select--</option>
        <option>Primary</option>
        <option>Secondary</option>
      </select>
      <br />
      <br />

      <div class="alert alert-warning username" style="display: none;">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Error!</strong> There was a problem creating a new User please
        try again
      </div>

      <!-- Button trigger modal -->
      <button
        type="button"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        Update User
      </button>

      <!-- Button trigger modal -->
      <button type="button" data-toggle="modal" data-target="#Success">
        Cancel
      </button>
    </div>
  </div>
</body>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Confirmation
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to Update this User?
      </div>
      <div class="modal-footer buttonDiv">
        <button type="button" class="btn btn-primary create">
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Success
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        User was successfully updated
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary .OkBtn"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
