<body>

    <div class="bicycle-box">
      <h1>Student</h1>
      <form #StudentForm="ngForm">
  
  
      <div class="bicycle-text">
        <h6> Firstname:</h6>
        <input type="text" required id="StudenName" #StudentName="ngModel" name="StudentName" [(ngModel)]= "studentService.StudentForm.StudentName" />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="StudentName.invalid && StudentName.touched"
        >
          Please enter a Firstname.
        </span>
        <br />
        <br />
        <h6>Surname:</h6>
 
        <input type="text"  required #StudentSurname="ngModel" name = "StudentSurname" [(ngModel)] = "studentService.StudentForm.StudentSurname"/>
  
        
        <br />
        <span
        class="alert alert-primary"
        *ngIf="StudentSurname.invalid && StudentSurname.touched"
      >
        Please enter a Surname.
      </span>
      <br />
      <br />
        <h6>Phone Number:</h6>
        <input type="text" name ="PhoneNumber" required minlength="10" #PhoneNumber="ngModel"  [(ngModel)] = "studentService.StudentForm.PhoneNumber"  />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="PhoneNumber.invalid && PhoneNumber.touched"
        >
          Please enter a valid Phone Number.
        </span>
        <br />
        <br />
        <h6>Date of Birth:</h6>
        <input type="date" name = "StudentDoB"  required #StudentDoB="ngModel" [(ngModel)] = "studentService.StudentForm.StudentDoB" />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="StudentDoB.invalid && StudentDoB.touched"
        >
          Please select a Date of Birth.
        </span>
        <br />
        <br />
        <h6>Village:</h6>
        <select name="VillageID" required #VillageID="ngModel" [(ngModel)] = "studentService.StudentForm.VillageID" >
          <option *ngFor = "let village of LocationList['Villages']" [value] = "village.VillageID">
            {{village['VillageName']}}
          </option>  
        </select>
        <br />
        <br>
        <span
          class="alert alert-primary"
          *ngIf="VillageID.invalid && VillageID.touched"
        >
          Please select a Village.
        </span>
        <br />
        <br />
        
        <h6>School:</h6>
        <select name="SchoolID" required #SchoolID="ngModel" [(ngModel)] = studentService.StudentForm.SchoolID>
          <option *ngFor = "let school of SchoolList" [value] = "school.SchoolID">
            {{school.SchoolName}}
          </option>
        </select>
        <br/>
        <br/>
        <span
          class="alert alert-primary"
          *ngIf="SchoolID.invalid && SchoolID.touched"
        >
          Please select a School.
        </span>
        <br />
  
             <!-- <div class="alert alert-primary" >
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please select a School.
        </div> -->

  
        <br>
        <h4>Guardian Details</h4>
        <br>
        
        <h6>Guardian Name:</h6>
        <input type="text" required #GuardianName="ngModel"name="GuardianName" [(ngModel)] = studentService.GuardianForm.GuardianName #SchoolID="ngModel"/>
        <br>
        <span
          class="alert alert-primary"
          *ngIf="GuardianName.invalid && GuardianName.touched"
        >
          Please enter a Guardian Name.
        </span>
        <br />
        <br />
      
        <br>
        <h6>Guardian Email:</h6>
        
        <input type="email"  required #GuardianEmail="ngModel" name="GuardianEmail"[(ngModel)] = studentService.GuardianForm.GuardianEmail/>
        <br>
        <span
          class="alert alert-primary"
          *ngIf="GuardianEmail.invalid && GuardianEmail.touched"
        >
          Please enter a Guardian Email.
        </span>
        <br />
        <br />
        <h6>Guardian Phone Number:</h6>
        <input type="text" name="GuardianPhone" required minlength="10"  #GuardianPhone="ngModel"  [(ngModel)] = studentService.GuardianForm.GuardianPhone />
        <br>
        <span
          class="alert alert-primary"
          *ngIf="GuardianPhone.invalid && GuardianPhone.touched"
        >
          Please enter valid Guardian Phone number.
        </span>
        <br />
        <br />
        <br />
   
        <button class="thebutton" data-toggle="modal" data-target="#create" [disabled]="StudentForm.invalid" required
        >Create </button>
        <button class="thebutton" type="submit">Cancel</button>
      </div>
    </form>

    </div>
  </body>
  <br>
  <br>
<div>
  <div
  class="modal fade"
  id="create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
  >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Confirmation</h5>

      </div>
      <div class="modal-body">Are you sure you want to create a new Student?</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#Success"
          data-dismiss="modal"
          (click)="CreateStudent()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
          (click)="BacktoCreate()"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<div
class="modal fade"
id="StudentAddedModal"
tabindex="-1"
role="dialog"
aria-labelledby="StudentAddedModal"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="StudentAddedModal">Successful</h5>

    </div>
    <div class="modal-body">Student has been created successfully.</div>
    <div class="modal-footer buttonDiv">

      <button
        type="button"
        class="btn btn-primary create"
        data-dismiss="modal"
        (click)="GoBack()"
      >
        Ok
      </button>
    </div>
  </div>
</div>
</div>

  