<body>
  <form [formGroup]="TagForm">
    <div class="bicycle-box">
      <h1>Tag</h1>

      <div class="bicycle-text">
        <h6>Tag Serial Number:</h6>
        <input
          type="text"
          placeholder="TagSerialNumber"
          formControlName="TagSerialNumber"
        />

        <h6>Tag Status:</h6>
        <select placeholder="TagStatus" formControlName="TagStatusID">
          <option *ngFor="let tag of TagStatusList" [value]="tag.TagStatusID">
            {{ tag.TagStatus }}
          </option>
        </select>
        <br />
        <br />
        <h6>Date Installed:</h6>
        <input
          type="date"
          placeholder="DateInstalled"
          formControlName="DateInstalled"
        />

        <br />

        <!-- <div class="alert alert-primary" >
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please enter the date installed
        </div>

        <br />
        <div class="alert alert-warning" role="alert">
          <strong>Error!</strong> There was an issue creating a new Tag. Please try again. 
        </div>  -->

        <br />

        <button type="submit" (click)="Confirm('ConfirmUpdate')">Update</button>
        <button type="button" (click)="Confirm('ConfirmDelete')">Delete</button>
      </div>
    </div>
  </form>
</body>

<div
  class="modal fade"
  id="TheModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Success">{{ modalHeader }}</h5>
      </div>
      <div class="modal-body">
        {{ modalBody }}
      </div>
      <div class="modal-footer" *ngIf="modalMode == 'Message'">
        <button
          type="button"
          class="thebutton"
          (click)="Navigate()"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
      <div class="modal-footer" *ngIf="modalMode == 'ConfirmUpdate'">
        <button
          type="button"
          class="btn btn-primary create"
          data-dismiss="modal"
          (click)="onFormSubmit()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
      <div class="modal-footer" *ngIf="modalMode == 'ConfirmDelete'">
        <button
          type="button"
          class="btn btn-primary create"
          data-dismiss="modal"
          (click)="DeleteTag()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>
