
<meta  content="width=device-width, initial-scale=1.0">
<body class="scan">
  <meta  content="width=device-width, initial-scale=1.0">
    <div class="qr-box">
      <h2>Please scan your QR Code <br> to continue</h2>
  
      <br>
<!-- read QR  -->
      <div>
 <zxing-scanner class="Scanner" [(device)]="currentDevice" (scanSuccess)="getQRcode($event)"
          (permissionResponse)="onHasPermission($event)"
        (camerasFound)="onCamerasFound($event)"></zxing-scanner>

      </div>

    </div>

</body>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Confirmation
        </h5>

      </div>
      <div class="modal-body">
        Do you want to Report a Fault?
      </div>
      <div class="modal-footer buttonDiv">
        <button type="button" class="btn btn-primary create" data-dismiss="modal" (click)="NavigateToJobListID()">
          Yes
        </button>
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">
          No
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          Confirmation
        </h5>

      </div>
      <div class="modal-body">
        The Bicycle has been checked-in successfully.
      </div>
      <div class="modal-footer buttonDiv">
        <button type="button" class="btn btn-primary create" data-dismiss="modal" (click)="goBack()">
          Okay
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="modal fade" id="Success" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The Bicycle has been Checked in successfully.
      </div>
      <div class="modal-footer buttonDiv">
        <button type="button" class="btn btn-secondary OkBtn" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div> -->
<!-- <ngx-qrcode id="QRcode"   [elementType]="elementType" [value] = "value">
</ngx-qrcode> -->
 <!-- <div>
  <ngx-qrcode id="QRcode"   [elementType]="elementType" [value] = "value">
  </ngx-qrcode>
  <a [href]="href"  (click)="downloadQRcode()" download>Download Image</a>
</div>  -->
<div>
  
</div>

  


