<body>
  <div class="bicycle-box">
    <h1>Assign Tag to Bicycle</h1>

    <div class="bicycle-text">
      <br />

      <h6>Tag Serial Number:</h6>
      <input type="text" value="{{ CurrentSerialNumber }}" readonly />

      <h6>Select Bicycle to Assign:</h6>
      <select [(ngModel)]="BicycleCode">
        <option
          *ngFor="let bicycle of BicycleList"
          [value]="bicycle.BicyleCode"
        >
          {{ bicycle.BicyleCode }}
        </option>
      </select>

      <br />
      <br />

      <!-- <div class="alert alert-primary" >
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please select a Bicycle to assign the Tag to.
        </div>

        <br />
        <div class="alert alert-warning" role="alert">
          <strong>Error!</strong> There was an issue assigning the Tag. Please try again. 
        </div> -->

      <br />
      <br />

      <button class="thebutton" type="submit" (click)="AssignBicycleTag()" title="Click here to Assign">
        Assign
      </button>
      <button class="thebutton" (click) = "BackToTagPage()">Cancel</button>
    </div>
  </div>
</body>
<div
  class="modal fade"
  id="AssignTagModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="BackToTagPage()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The Tag has been successfully assigned.
        <!-- Are you sure you want to assign this Tag? -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          aria-label="Close"
          (click)="BackToTagPage()"
        >
          Ok
        </button>
        <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> -->
      </div>
    </div>
  </div>
</div>
