<body>
  <div class="Antenna">
    <h1>Mark Type Management</h1>

    <div class="searchDiv">
      <a routerLink="/createmarktype"> <img src="assets/images/plus.svg"  title="Click here to create a new mark type"/> </a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a Mark Type"
        aria-label="Search"
        (keyup)="SearchLogs($event)"

      />
      <!-- <button
        class="btn btn-outline-success my-2 my-sm-0 searchBtn"
        type="submit"
      >
        Search
      </button> -->
    </div>

    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Mark Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let MarkType of MarkTypeArray">
          <td>{{ MarkType.MarkType1 }}</td>
          <td>
            <img
              (click)="EditMarkType(MarkType.MarkTypeID)"
              src="assets/images/edit.svg"
              title="Click here to view this mark type"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>