<body>
  <div class="bicycle-box">
    <h1>Bicycle Part</h1>

    <div id="UploadArea">
      <img [src]="imageUrl" style="width: 25%; height: 25%" />
      <br />
      <label> Please Upload a Bicycle Part Image </label>
      <br />
      <input
        required
        type="file"
        #Image
        accept="image/*"
        (change)="onFileChange($event)"
      />
      <br />

      <!-- ** FEEDBACK MESSAGING AREA ** -->
      <div *ngIf="messages.length > 0">
        <span *ngFor="let msg of messages"> {{ msg }} <br /> </span>
      </div>
      <!-- ** END OF FEEDBACK MESSAGING AREA ** -->
    </div>

    <div class="bicycle-text">
      <form [formGroup]="PartForm" (ngSubmit)="onFormSubmit(PartForm)">
        <br />

        <div id="ObjArea">
          <h6>Part Name:</h6>
          <input type="text" formControlName="PartName" required />

          <h6>Part Description:</h6>
          <input type="text" formControlName="PartDescription" required />

          <h6>Bicycle Section:</h6>
          <select formControlName="SectionID" required>
            <option
              *ngFor="let section of Sections"
              [value]="section.SectionID"
            >
              {{ section.SectionName }}
            </option>
          </select>
          
          <br>
          <br>
          
          <h6>Part Type:</h6>
          <select formControlName="PartTypeID" required>
            <option
              *ngFor="let partType of PartTypes"
              [value]="partType.PartTypeID"
            >
              {{ partType.PartType }}
            </option>
          </select>
        </div>

        <br />

        <span class="alert alert-primary" *ngIf="PartForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />

        <button id="UploadBtn">Upload Image</button>
        <button id="CreateObj" [disabled]="!PartForm.valid" data-toggle="modal" data-target="#create"> Create Part </button>
        <!-- <button type="submit" data-toggle="modal" data-target="#create">Create Part</button> -->
        <button (click)="GoToList()">Cancel</button>
      </form>
    </div>
  </div>
</body>

<div
  class="modal fade"
  id="create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to add this Bicycle Part?
      </div>
      <div class="modal-footer">
        <!-- (click)="uploadFile()" -->
        <button
          type="button"
          class="thebutton"
          data-toggle="modal"
          data-target="#download"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="download"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download">Success</h5>
      </div>
      <div class="modal-body">
        Bicycle Part has been added successfully.
        Please add Faults to this Part
        
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          (click)="GoToAddFaults()"
        >
        Click here to add faults
        </button>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          data-dismiss="modal"
          (click)="GoToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>