<form [formGroup]="UserForm" (ngSubmit)="onFormSubmit(UserForm)">
  <body>
    <div class="login-box">
      <h1>Password Reset</h1>
      <p>Please Enter your new password</p>

      <div class="login-text">
        <h6>Password:(Must be 10 characters)</h6>
        <input
          required
          minlength="10"
          type="password"
          class="form-control"
          formControlName="Password"
        />

        <h6>Confirm Password:</h6>
        <input
          required
          minlength="10"
          type="password"
          class="form-control"
          formControlName="ConfirmPassword"
        />

        <span class="alert alert-primary" *ngIf="UserForm.invalid">
          The Button will be enabled after form is filled in
        </span>

        <br />
        <br />

        <button type="submit" class="SubmitBtn" [disabled]="!UserForm.valid"  title="Change your password">
          Submit
        </button>
        <br />
        <button (click)="return()" class="SubmitBtn">Cancel</button>
        <!-- <button data-toggle="modal" data-target="#Success">click</button> -->
      </div>
    </div>
  </body>

  <!-- SuccessModal -->
  <!-- <div
    class="modal fade"
    id="Success"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Password Reset</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary OkBtn"
            data-dismiss="modal"
            (click)="return()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div> -->
</form>
