<body>
  <div class="bicycle-box">
    <h1>Assign Bicycle to Student</h1>

    <div class="bicycle-text">
      <br />

      <h6>Bicycle Code:</h6>
      <input type="text" readonly value="{{ CurrentBicycleCode }}" />

      <!-- <h6>Select Student to Assign:</h6>
      <select [(ngModel)]="StudentID">
        <option *ngFor="let student of StudentList" [value]="student.StudentID">
          {{ student.StudentName + ' ' + student.StudentSurname }}
        </option>
      </select> -->




      <ejs-dropdownlist class='dropdown' [(ngModel)]="StudentID" id='country' [dataSource]='StudentList'
        [fields]='fields' [query]='query' (filtering)='onFiltering($event)' [filterBarPlaceholder]="filterPlaceholder"
        [popupHeight]='height' [allowFiltering]='true' [placeholder]='watermark' style="width: 400px;">
      </ejs-dropdownlist>






      <br />


      <br />
      <br />

      <button class="thebutton" type="butotn" (click)="ConfirmationModal()"  title="Click to Assign">
        Assign
      </button>
      <button class="thebutton" (click)="GoToBicycleAssignmentPage()">Cancel</button>
    </div>
  </div>
</body>

<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="create" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to assign this Bicycle?
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton" (click)="AssignBicyle()" data-dismiss="modal">
          Yes
        </button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Are you sure you want to delete this Tag? -->
        The Bicycle has been successfully assigned.
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton" (click)="GoToBicycleAssignmentPage()" data-dismiss="modal">
          Ok
        </button>
        <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="NoStudentsModal" tabindex="-1" role="dialog" aria-labelledby="update" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update">Sorry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Are you sure you want to delete this Tag? -->
        There are no students to assign a bicycle to. All the students in your
        school seem to have bicyles.
      </div>
      <div class="modal-footer">
        <button type="button" class="thebutton" (click)="GoToBicycleAssignmentPage()" data-dismiss="modal">
          Ok
        </button>
        <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> -->
      </div>
    </div>
  </div>
</div>