body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  min-height: 100%;
  height: auto;
  padding-bottom: 10%;
}

.bicycle-box {
  width: 800px;
  margin: auto;
  margin-top: 7%;
  height: 150%;
  padding-bottom: 10%;

  /**margin: 150px 0 0 370px;**/
  background-color: white;
  color: black;
  text-align: center;
  padding-top: 50px;
  box-shadow: 2px 2px 10px rgba(207, 209, 211, 0.1);
}

.bicycle-box img {
  height: 50px;
}

.bicycle-text {
  text-align: left;
  margin-left: 200px;
}

.bicycle-text input {
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
  border-radius: 0;
  width: 400px;
  margin-bottom: 20px;
}

button {
  color: white;
  display: inline;
  width: 180px;
  height: 50px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

button:hover {
  transform: scale(1.02);
  transition: all ease 300ms;
}

select {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
}

.btncancel {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #cd1543;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

.thebutton {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

h6 {
  font-size: medium;
}
