<body>
  <form
    [formGroup]="MaintenanceTaskForm"
    (ngSubmit)="onFormSubmit(MaintenanceTaskForm)"
  >
    <div class="maintenancetask-box">
      <h1>Maintenance Task</h1>

      <br />

      <div class="maintenancetask-text">
        <h6 style="display: none">Maintenance Task ID:</h6>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Maintenance Task ID"
          formControlName="MaintenanceTaskID"
          style="display: none"
        />

        <h6>Maintenance Task:</h6>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Maintenance Task"
          formControlName="MaintenanceTask1"
        />

        <h6>Maintenance Task Description:</h6>
        <input
          required
          type="text"
          class="form-control"
          placeholder="Description"
          formControlName="MaintenanceTaskDescription"
        />

        <h6>Maintenace Type:</h6>

        <select
          required
          class="form-control"
          placeholder="Maintenance Type"
          formControlName="MaintenanceTypeID"
        >
          <option
            *ngFor="let maintenanceType of MaintenanceTypes"
            [value]="maintenanceType.MaintenanceTypeID"
          >
            {{ maintenanceType.MaintenanceType }}
          </option>
        </select>
        <br />

        <h6>Part:</h6>

        <select
          required
          class="form-control"
          placeholder="Part"
          formControlName="PartID"
        >
          <option *ngFor="let part of Parts" [value]="part.PartID">
            {{ part.PartName }}
          </option>
        </select>
        <br />

        <span class="alert alert-primary" *ngIf="MaintenanceTaskForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />

        <br />
        <div>
          <button
            type="submit"
            data-toggle="modal"
            data-target="#successup"
            [disabled]="!MaintenanceTaskForm.valid"
          >
            Update
          </button>
          <button data-toggle="modal" data-target="#DeleteModal" type="button">
            Delete
          </button>
        </div>
      </div>
    </div>
  </form>
</body>
<!--Delete Modal -->
<div
  class="modal fade"
  id="DeleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to Delete this User Type?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#delete"
          data-dismiss="modal"
          (click)="DeleteMaintenanceTask(ID)"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary cancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessUpdateModal -->
<div
  class="modal fade"
  id="successup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Maintenance Task was successfully Updated</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Successful delete -->
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">User was successfully Deleted</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-toggle="modal"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
