<body>
  <div class="bicycle-box">
    <h1>Bicycle Section</h1>

    <div id="UploadArea">
      <img [src]="imageUrl" style="width: 25%; height: 25%" />
      <br />
      <label> Please Upload a Bicycle Section Image </label>
      <br />
      <input
        type="file"
        #Image
        accept="image/*"
        (change)="onFileChange($event)"
      />
      <br />

      <!-- ** FEEDBACK MESSAGING AREA ** -->
      <div *ngIf="messages.length > 0">
        <span *ngFor="let msg of messages"> {{ msg }} <br /> </span>
      </div>
      <!-- ** END OF FEEDBACK MESSAGING AREA ** -->
    </div>

    <div class="bicycle-text">
      <form [formGroup]="SectionForm" (ngSubmit)="onFormSubmit(SectionForm)">
        <div id="ObjArea">
          <br />
          <h6>Section Name:</h6>
          <input required type="text" formControlName="SectionName" />

          <br />

          <h6>Section Description:</h6>
          <input required type="text" formControlName="SectionDescription" />
        </div>

        <br />
        <span class="alert alert-primary" *ngIf="SectionForm.invalid">
          Please ensure all fields are filled(remember a picture!)
        </span>
        <br />
        <br />
        <button id="UploadBtn" (click)="uploadFile()">Upload Image</button>
        <button
          id="CreateObj"
          [disabled]="!theFile || Image.value == '' || !SectionForm.valid"
          data-toggle="modal"
          data-dismiss="modal"
          data-target="#create"
        >
          Create Section
        </button>
        <!-- <button id="CreateObj" type="submit" data-toggle="modal" data-target="#create"> Create Section </button> -->
        <!-- <button type="submit" data-toggle="modal" data-target="#create" [disabled]="Image.value=='' || !SectionForm.valid" >Create Section</button> -->
        <button (click)="GoToList()">Cancel</button>
      </form>
    </div>
  </div>
</body>

<!-- Modal -->
<!--  -->
<div
  class="modal fade"
  id="create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to create a new Section?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="submit"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#Success"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary btncancel"
          data-dismiss="modal"
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Section was successfully created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="GoToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
