<body>
  <form #AntennaForm="ngForm">
    <!-- (ngSubmit)="onFormSubmit(antennaService.AntennaForm)" -->
    <div class="bicycle-box">
      <h1>Antenna</h1>

      <div class="bicycle-text">
        <br />
        <br />
        <h6>Antenna Port</h6>
        <input
          required
          type="text"
          name="AntennaAddress"
          #Address="ngModel"
          [(ngModel)]="antennaService.AntennaForm.AntennaAddress"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Address.invalid && Address.touched"
        >
          Please enter a Antenna Port
        </span>
        <br />
        <br />

        <h6>Antenna Status</h6>
        <select
          required
          name="AntennaStatusID"
          #Status="ngModel"
          [(ngModel)]="antennaService.AntennaForm.AntennaStatusID"
        >
          <option
            *ngFor="let antenna of AntennaStatus"
            [value]="antenna.AntennaStatusID"
          >
            {{ antenna.AntennaStatus }}
          </option>
        </select>
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Status.invalid && Status.touched"
        >
          Please select a Antenna Status
        </span>
        <br />
        <br />

        <h6>Co-ordinates</h6>
        <input
          required
          type="text"
          name="CoOrdinates"
          #Coordinates="ngModel"
          [(ngModel)]="antennaService.AntennaForm.CoOrdinates"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="Coordinates.invalid && Coordinates.touched"
        >
          Please enter Co-ordinates
        </span>
        <br />
        <br />

        <!-- <div class="alert alert-primary" >
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please enter Co-ordinates
        </div> -->

        <h6>Suburb:</h6>
        <select
          name="SuburbID"
          required
          #suburb="ngModel"
          [(ngModel)]="antennaService.AntennaForm.SuburbID"
        >
          <option
            *ngFor="let suburb of LocationList['Suburbs']"
            [value]="suburb.SuburbID"
          >
            {{ suburb.SuburbName }}
          </option>
        </select>
        <br />
        <span
          class="alert alert-primary"
          *ngIf="suburb.invalid && suburb.touched"
        >
          Please enter a Suburb
        </span>
        <br />
        <br />

        <br />
        <br />
        <h6>Date Installed</h6>
        <input
          required
          type="date"
          name="DateInstalled"
          #DateInstalled="ngModel"
          [(ngModel)]="antennaService.AntennaForm.DateInstalled"
        />
        <br />
        <span
          class="alert alert-primary"
          *ngIf="DateInstalled.invalid && DateInstalled.touched"
        >
          Please enter a Date Installed
        </span>
        <br />
        <br />
        <!-- <div class="alert alert-warning" role="alert">
          <strong>Error!</strong> There was an issue creating a new Antenna. Please try again. 
        </div>  -->

        <button
          class="thebutton"
          [disabled]="AntennaForm.invalid"
          data-toggle="modal"
          data-target="#create"
        >
          Create
        </button>
        <button class="thebutton" (click) = "GoBack()"> Cancel</button>
      </div>
    </div>
  </form>
</body>
<!-- Confirmation -->
<div
  class="modal fade"
  id="create"
  tabindex="-1"
  role="dialog"
  aria-labelledby="create"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create">Confirmation</h5>
      </div>
      <div class="modal-body">Are you sure you want to add this Antenna?</div>
      <div class="modal-footer">
        <button
          (click)="SaveAntenna()"
          class="thebutton"
          data-toggle="modal"
          data-target="#success"
          data-dismiss="modal"
        >
          Yes
        </button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="success"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="success">Success</h5>
      </div>
      <div class="modal-body">Antenna has been added successfully.</div>
      <div class="modal-footer">
        <button
          type="button"
          class="thebutton"
          (click)="GoBack()"
          data-dismiss="modal"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
