<body>
  <div class="bicyclePart">
    <h1>Log Entry</h1>

    <div class="searchDiv">
      <!--<a><img src="assets/images/plus.svg" /></a>-->

      <button
      (click)="exportexcel()"
      class="btn btn-outline-success my-2 my-sm-0 searchBtn"
      type="submit"
      data-toggle="modal"
      data-target="#download"
    >
      Export to Excel
    </button>

      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        (keyup)="SearchLogs($event)"
      />
    </div>
    <table class="table" id="table">
      <thead class="thead">
        <tr>
          <th scope="col">Tag Serial Number</th>
          <th scope="col">Student Name</th>
          <th scope="col">Date Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of LogList">
          <td scope="row">{{ log.TagSerialNumber }}</td>
          <td>{{ log.StudentName }}</td>
          <td>{{ log.DateTime }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
