<body>
  <form #MaintenanceTaskForm="ngForm">
    <br />
    <div class="faulttask-box">
      <h1>Mechanic Work Days</h1>
      <br />

      <div class="faulttask-text">
        <h6>Mechanic ID:</h6>
        <input
          type="text"
          required
          id="maintenancetaskdescription"
          name="maintenancetaskdescription"
          #MaintenanceTaskDescription="ngModel"
          [(ngModel)]="ID"
        />
      </div>

      <br />

      <h6>WorkDay:</h6>
      <select
        name="MaintenanceTypeID"
        required
        #MaintenanceType="ngModel"
        [(ngModel)]="MaintenanceTaskService.MaintenanceTaskForm.WorkDayID"
      >
        <option
          *ngFor="let MaintenanceType of MaintenanceTypes"
          [value]="MaintenanceType.WorkDayID"
        >
          {{ MaintenanceType.WorkDay1 }}
        </option>
      </select>
      <br />
      <span
        class="alert alert-primary"
        *ngIf="MaintenanceType.invalid && MaintenanceType.touched"
      >
        Please select a WorkDay
      </span>

      <br />
      <br />

      <h6>School</h6>
      <select
        name="PartID"
        required
        #Part="ngModel"
        [(ngModel)]="MaintenanceTaskService.MaintenanceTaskForm.SchoolID"
      >
        <option *ngFor="let Part of Parts" [value]="Part.SchoolID">
          {{ Part.SchoolName }}
        </option>
      </select>
      <br />
      <br />

      <span class="alert alert-primary" *ngIf="Part.invalid && Part.touched">
        Please select a School
      </span>

      <br />
      <br />

      <div>
        <button
          [disabled]="MaintenanceTaskForm.invalid"
          data-toggle="modal"
          data-target="#exampleModalCenter"
          (click)="CheckMech()"
        >
          Create
        </button>

        <!-- Button trigger modal
        
         
        -->
        <!-- type="button" data-toggle="modal" data-target="#Success" -->
        <button (click)="GoBackToList()">Cancel</button>
      </div>
    </div>
  </form>
</body>

<!-- Modal -->
<div
 *ngIf="Days"
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">Are you sure you want to add these details?</div>
      <div class="modal-footer buttonDiv">
        <button
          class="btn btn-primary create"
          data-dismiss="modal"
          data-toggle="modal"
          data-target="#Success"
          (click)="SaveMaintenanceTask()"
        >
          Yes
        </button>
        <button type="button" class="btn btn-secondary cancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- toomany days modal -->
<!-- <div
  *ngIf="Days2"
  class="modal fade"
  id="toomany"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Too Many Days</h5>
      </div>
      <div class="modal-body">This Mechanic already has too many work days</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- SuccessModal -->
<div
  class="modal fade"
  id="Success"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Mechanic was successfully updated</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="GoBackToList()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
