<meta  content="width=device-width, initial-scale=1.0">
<body>
  <div class="bicycle-box">
    <h1>Route</h1>
  <form #RouteForm = "ngForm" (ngSubmit) = "onFormSubmit(routeService.RouteForm)">
  

      <!-- <h6>School:</h6>
      <select name="SchoolID"  [(ngModel)] = "schoolService.SchoolForm.SchoolID" >
        <option *ngFor = "let school of SchoolList['Schools']" [value] = "school.SchoolID">
          {{school['SchoolName']}}
        </option>  
      </select> -->
      <h6>School:</h6>
      <select
      name="SchoolID"
      required
      #School="ngModel"
      [(ngModel)]="routeService.RouteForm.SchoolID"
     
    >
      <option *ngFor="let school of SchoolList" [value]="school.SchoolID">
        {{ school.SchoolName }}
      </option>

    </select>

      <h6> Position 1 Antenna:</h6>
      <select
      required
      name="Position1"
      #Position1="ngModel"
      [(ngModel)]="routeService.RouteForm.Position1"
    >
      <option *ngFor="let antenna of AntennaList" 
      [value]="antenna.AntennaID">
        {{ antenna.AntennaID }}
      </option>

    </select>

    <h6> Position 2 Antenna:</h6>
    <select
    required
    name="Position2"
    #Position2="ngModel"
    [(ngModel)]="routeService.RouteForm.Position2"


  >
    <option *ngFor="let antenna of AntennaList" 
    [value]="antenna.AntennaID">
      {{ antenna.AntennaID }}
    </option>

  </select>
      <!-- <select name="AntennaID"  [(ngModel)] = "antennaService.AntennaForm.AntennaID" >
        <option *ngFor = "let antenna of AntennaList['Antennas']" [value] = "antenna.AntennaID">
          {{antenna['AntennaName']}}
        </option>  
      </select> -->



      <br />



      <br />

      <br />



      <button          
      data-toggle="modal"
      data-target="#exampleModalCenter"
      [disabled]="RouteForm.invalid" >Create Route</button>
      <button (click)="GoBack()">Cancel</button>
    
  </form>
  </div>
</body>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to create a new Route?
      </div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-primary create"
          data-toggle="modal"
          data-target="#succmodal"
          data-dismiss="modal"
          (click)="SaveRoute()"
        >
          Yes
        </button>
        <button
          type="button"
          class="btn btn-secondary btncancel"
          data-dismiss="modal"
          
        >
          No
        </button>
      </div>
    </div>
  </div>
</div>

<!-- SuccessModal -->
<div
  class="modal fade"
  id="succmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
      </div>
      <div class="modal-body">Route was successfully created</div>
      <div class="modal-footer buttonDiv">
        <button
          type="button"
          class="btn btn-secondary OkBtn"
          data-dismiss="modal"
          (click)="GoBack()"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>