<body>
    <div class="Antenna">
      <h1>Document Management</h1>
  
      <div class="searchDiv">
        <a id="toRestrict" [hidden]="usertype == true" routerLink="/createdocument"> <img src="assets/images/plus.svg"  title="Click to upload a document"/> </a>
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for a document"
          aria-label="Search"
          (keyup)="SearchUsers($event)"
        />

      </div>

      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Document Name</th>
            <th id="toRestrict" [hidden]="usertype == true" scope="col">Document Path</th>
            <th id="toRestrict" [hidden]="usertype == true" scope="col">Edit Document</th>
            <th scope="col">Download Document</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Document of DocumentArray">
            <td>{{ Document.DocumentName }}</td>
            <td id="toRestrict" [hidden]="usertype == true">{{ Document.DocumentPath }}</td>
            <td id="toRestrict" [hidden]="usertype == true"> <img (click)="EditDocument(Document.DocumentID)" src="assets/images/edit.svg"/> </td>
            <td> <img (click)="DownloadDoc(Document.DocumentID)" src="assets/images/download.svg" title="Click here to download the document"/> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>