<meta  content="width=device-width, initial-scale=1.0">
<body>
  <form [formGroup]="RouteForm" (ngSubmit)="onFormSubmit(RouteForm)">
    <div class="bicycle-box">

      <h1>Route</h1>
      
      <div class="bicycle-text">
     

        <h6>School:</h6>
       
        <select
          required
          class="form-control"
          placeholder="School"
          formControlName="SchoolID"
        >
        <option *ngFor="let school of SchoolList" [value]="school.SchoolID">
          {{ school.SchoolID }}
        </option>
        </select>



        <h6>Position 1:</h6>
    
          <select class="form-control" placeholder = "Postion1" formControlName = "Position1">
            <option *ngFor="let antenna of AntennaList" [value]="antenna.AntennaID">
              {{ antenna.AntennaID }}
            </option>
        </select>
  
        
        <h6>position 2:</h6>
    
          <select class="form-control" placeholder = "Postion2" formControlName = "Position2">
      <option *ngFor="let antenna of AntennaList1" [value]="antenna.AntennaID">
        {{ antenna.AntennaID }}
      </option> 
        </select>


        <br />
        <span class="alert alert-primary" *ngIf="RouteForm.invalid">
          Please ensure all fields are filled in and valid
        </span>
        <br />
        <button type="submit" data-toggle="modal" data-target="#successup" >Update</button>
        <button data-toggle="modal" data-target="#DeleteModal">Delete</button>
      </div>
    </div>
  </form>
  </body>

  <!-- SuccessModal Update -->
<div
class="modal fade"
id="successup"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
    </div>
    <div class="modal-body">Route was successfully Updated</div>
    <div class="modal-footer buttonDiv">
      <button
        type="button"
        class="btn btn-secondary OkBtn"
        data-dismiss="modal"
        (click)="GoBack()"
      >
        Ok
      </button>
    </div>
  </div>
</div>
</div>

<!-- SuccessModal Delete -->
<div
class="modal fade"
id="successdel"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
    </div>
    <div class="modal-body">Route was successfully Deleted</div>
    <div class="modal-footer buttonDiv">
      <button
        type="button"
        class="btn btn-secondary OkBtn"
        data-dismiss="modal"
        (click)="GoBack()"
      >
        Ok
      </button>
    </div>
  </div>
</div>
</div>
