<body>
    <div class="bicycle-box">
      <h1>Document</h1>

      <div id="DownloadArea">
        <button (click)="DownloadDoc()">
            Download File
        </button>

        <!-- <button> Download File </button> -->
        <br />
          <label> Choose a Document to update </label>
        <br />
          <input
            type="file"
            #Image
            (change)="onFileChange($event)"
          />
        <br />
      </div>

      <div class="bicycle-text">
        <form [formGroup]="DocumentForm" (ngSubmit)="onFormSubmit(DocumentForm)">
          <h6>Document Name:</h6>
          <input type="text" #DocumentName formControlName="DocumentName" />
  
          <!--Input Validation-->
          <div class="alert alert-primary username" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            Please enter a Document name
          </div>
  
          <br />

          <!-- <h6>Document Path:</h6>
          <input type="text" #DocumentPath formControlName="DocumentPath" /> -->
    
          <!--Error Message-->
          <div class="alert alert-warning username" style="display: none">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error!</strong> There was a problem Updating/Deleting the Document.
            Please try again
          </div>

          <button type="submit">Update</button>
          <button type="button" (click)="DeleteDocument(ID)"> Delete</button>

          <!-- <button data-toggle="modal" data-target="#update">Update</button>
          <button data-toggle="modal" data-target="#delete">Delete</button> -->
  
          <!-- <button type="submit" type="button" data-toggle="modal" data-target="#update">Update</button>
          <button type="submit" type="button" data-toggle="modal" data-target="#delete">Delete</button> -->
        </form>
      </div>
    </div>
  </body>
  <div
    class="modal fade"
    id="delete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="delete"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete">Confirmation</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this Document?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="DeleteDocument(ID)" data-toggle="modal" data-target="#delsucc" >Yes</button>
          <button type="button" class="btncancel" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  
  <div
    class="modal fade"
    id="update"
    tabindex="-1"
    role="dialog"
    aria-labelledby="update"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="update">Success</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">Document has been successfully updated.</div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">
            Ok
          </button>
          <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> routerLink="/document"-->
        </div>
      </div>
    </div>
  </div>

  <!-- success delete -->
<div
class="modal fade"
id="delsucc"
tabindex="-1"
role="dialog"
aria-labelledby="delsucc"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="delsucc">Success</h5>
    </div>
    <div class="modal-body">Document has been deleted successfully.</div>
    <div class="modal-footer">
      <button
        type="button"
        class="thebutton"
        data-dismiss="modal"
        (click)="GoToList()"
      >
        Ok
      </button>
    </div>
  </div>
</div>
</div>