body {
  overflow: hidden;
  background-color: rgba(207, 209, 211, 0.1);
  min-height: 100%;
  height: auto;
}

button {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

#Datez {
  font-weight: bold;
}

button:hover {
  transform: scale(1.02);
  transition: all ease 300ms;
}

select {
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: 2px solid #cd1543;
  background-color: rgba(207, 209, 211, 0.1);
}

.bicyclePart {
  margin-top: 80px;
}
.bicyclePart h1 {
  float: left;
  margin-left: 20px;
  font-size: 30px;
}

thead {
  background-color: #001844;
  color: white;
  text-align: center;
}

table td {
  text-align: center;
  background-color: rgba(134, 158, 195, 0.2);
  border-color: rgba(0, 24, 68, 0.2);
  width: 1000px; /*world of difference here*/
  margin: auto;
}

.table2 {
  margin-right: auto;
  margin-left: auto;
  width: 20%;
  background-color: rgba(134, 158, 195, 0.2);
  border-color: rgba(0, 24, 68, 0.2);
}

.table3 {
  width: 100%;
}

input {
  padding-top: 1px;
  width: 300px;
  display: inline;
}

.searchDiv {
  float: right;
  padding-bottom: 10px;
}

img {
  width: 30px;
  transition: all ease 300ms;
}
img:hover {
  cursor: pointer;
  transform: scale(1.3);
  transition: all ease 300ms;
}
a {
  margin-right: 10px;
}

h1 {
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
}

.Datey {
  border-color: #001844;
  width: 10%;
  text-align: center;
  caret-color: #001844;
  outline-color: #001844;
}

#someshade {
  background-color: #001844;
  color: white;
}

#ControlBreakHead {
  background-color: #cd1543;
  color: white;
  text-align: center;
}

#ControlBreakFoot {
  background-color: #001844;
  color: white;
  text-align: center;
}

#blankem {
  background-color: white;
}

.btncancel {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #cd1543;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

.thebutton {
  color: white;
  display: inline;
  width: 160px;
  height: 45px;
  background-color: #001844;
  border: none;
  border-radius: 5px;
  transition: all ease 300ms;
  margin: 20px 40px 0 0;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
