<body>
  <div class="bicycle-box">
    <h1>Mark Type</h1>

    <div class="bicycle-text">
      <form [formGroup]="MarkTypeForm" (ngSubmit)="onFormSubmit(MarkTypeForm)">
        <h6>Mark Type:</h6>
        <input type="text" #MarkType formControlName="MarkType1" />

        <!--Input Validation-->
        <div class="alert alert-primary username" style="display: none">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          Please enter a Mark Type
        </div>

        <br />

        <!--Error Message-->
        <div class="alert alert-warning username" style="display: none">
          <a href="#" class="close" data-dismiss="alert">&times;</a>
          <strong>Error!</strong> There was a problem Updating/Deleting the Mark
          Type. Please try again
        </div>

        <button type="submit">Update</button>

<!-- HIDE DELETE COZ IT"S AN IMPORTANT LOOKUP THAT CANT BE DELETED -->
        <!-- <button type="button" (click)="DeleteMarkType(ID)">Delete</button> -->

        <!-- <button type="submit" type="button" data-toggle="modal" data-target="#update">Update</button>
        <button type="submit" type="button" data-toggle="modal" data-target="#delete">Delete</button> -->
      </form>
    </div>
  </div>
</body>
<div
  class="modal fade"
  id="delete"
  tabindex="-1"
  role="dialog"
  aria-labelledby="delete"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete">Confirmation</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this Mark Type?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btncancel" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="update"
  tabindex="-1"
  role="dialog"
  aria-labelledby="update"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="update">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Mark Type has been successfully updated.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/marktype">
          Ok
        </button>
        <!-- <button type="button" class="btncancel" data-dismiss="modal">No</button> -->
      </div>
    </div>
  </div>
</div>
