.loading-screen-wrapper {
  z-index: 100000;
  position: absolute;
  background-color: rgba(207, 209, 211, 0.8);
  width: 100%;
  height: 100%;
  display: block;
}

.loading-screen-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
