<body>
  <br />
  <div class="faulttask">
    <h1>Fault Type Management</h1>

    <div class="searchDiv">
      <a><img src="assets/images/plus.svg" (click)="CreateFaultType()"  title="Click here to create a new fault type"/></a>
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for a Fault type"
        aria-label="Search"
        (keyup)="SearchUsers($event)"
      />
    </div>
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">Fault Type</th>
          <th scope="col">Part Needed</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maintenancetask of MaintenanceTaskList">
          <td>{{ maintenancetask.FaultType1 }}</td>
          <td>{{ maintenancetask.PartNeeded }}</td>
          <td>
            <img
              (click)="ViewMaintenanceTask(maintenancetask.FaultTypeID)"
              src="assets/images/edit.svg"
              title="Click here to view this fault type"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
