<body>
  <div class="bicyclePart">
    <h1>Audit Trail Management</h1>

    <div class="searchDiv">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for an AuditTrail entry"
        aria-label="Search"
        (keyup)="SearchAudits($event)"
      />
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Audit Trail ID</th>
            <th scope="col">User</th>
            <th scope="col">Date Time</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">Transaction Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let audit of AuditList">
            <td scope="row">{{ audit.AuditTrailID }}</td>
            <td>{{ audit.Username }}</td>
            <td>{{ audit.DateTime }}</td>
            <td>{{ audit.TransactionType }}</td>
            <td>{{ audit.TransactionDescription }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
