<form [formGroup]="PartFaultForm" (ngSubmit)="onFormSubmit(PartFaultForm)">
  <body>
    <br />
    <div class="faulttask-box">
      <h1>Fault Task</h1>

      <div class="faulttask-text">
        <!-- <input
          type="text"
          class="form-control"
          placeholder="ID"
          formControlName="PartFaultID"
        /> -->
        <h6>Part Name</h6>
        <select
          required
          class="form-control"
          placeholder="Part"
          formControlName="PartID"
        >
          <option *ngFor="let part of Parts" [value]="part.PartID">
            {{ part.PartName }}
          </option>
        </select>

        <br />
        <h6>Fault Type</h6>
        <select
          required
          class="form-control"
          placeholder="Fault Type"
          formControlName="FaultTypeID"
        >
          <option
            *ngFor="let faulttype of FaultType"
            [value]="faulttype.FaultTypeID"
          >
            {{ faulttype.FaultType1 }}
          </option>
        </select>
      </div>
      <br />

      <!-- <span class="alert alert-primary" *ngIf="PartFaultForm.invalid">
        Please ensure all fields are filled in and valid
      </span>
      <br /> -->

      <br />
      <div>
        <!-- Button trigger modal -->
        <button
          type="button"
          data-toggle="modal"
          data-target="#Success"
          data-dismiss="modal"
          type="submit"
        >
          <!-- [disabled]="!PartFaultForm.valid" -->
          Update
        </button>

        <!-- Button trigger modal -->
        <button
          type="button"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          Delete
        </button>
      </div>
    </div>
  </body>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to Delete this Fault Task?
        </div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-primary create"
            data-toggle="modal"
            data-target="#SuccessDel"
            data-dismiss="modal"
            (click)="DeleteMaintenanceTask(ID)"
          >
            Yes
          </button>
          <button
            type="button"
            class="btn btn-secondary cancel"
            data-dismiss="modal"
          >
            No
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- SuccessModal -->
  <div
    class="modal fade"
    id="Success"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">Fault Task was successfully Updated</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="GoBack()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="SuccessDel"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        </div>
        <div class="modal-body">Fault Task was successfully Deleted</div>
        <div class="modal-footer buttonDiv">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="GoBack()"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
